* {
    box-sizing: border-box;
}

body{
    --bg-color: radial-gradient(102.81% 108.2% at 100.1% 90.19%, #000028 43.63%, #009999 180%, #009999 100%);
    --bg-link: #00E6DC;
    --bg-color-headers: white;
    --bg-color-headers-light: rgba(255, 255, 255, 0.664);
    --bg-color-icon:white;
    --bg-color-borders: white;
    --bg-color-answer: #333353;
    --bg-color-question: #00646e;
    --bg-color-content:White;
    --bg-chat-container:rgba(243, 243, 240, 0.16);
    --bg-color-message-text-foreground: white;/*var(--bg-color-message-text-foreground) !important;*/    
    --bg-img-answer-color: transparent;
    --bg-questionInputContainer:white;
    --bg-questionInputBottomBorder:radial-gradient(109.81% 107.82% at 100.1% 90.19%, #00E6DC 33.63%, #00BEDC 70.31%, #00FFB9 100%);
    --bg-citationPanel:"transparent";
    --bg-question-input-text:black;
}

body[data-theme="comos"] {
    --bg-color: #E5E5E9;
    --bg-link: blue;
    --bg-color-headers: black; /*var(--bg-color-headers) !important;*/
    --bg-color-icon:black;/*var(--bg-color-icon) !important;*/
    --bg-color-content:black;/*var(--bg-color-icon) !important;*/
    --bg-color-headers-light: rgba(83, 83, 83, 0.664);
    --bg-color-borders: black;
    --bg-color-answer: #E5E5E9;
    --bg-color-message-text-foreground: black;
    --bg-color-question: #E0F1F4;
    --bg-chat-container:rgba(255, 255, 255, 0.7);/*var(--bg-chat-container) !important;*/    
    --bg-img-answer-color: #E5E5E9;
    --bg-questionInputContainer:white;
    --bg-questionInputBottomBorder:#007993;;
    --bg-citationPanel:"transparent";    
    --bg-question-input-text:white;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg-color) !important;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation-duration: 25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: farbverlaufAnimation;
    animation-timing-function: ease-in-out;
    background-size: 200% 200%;
}


@keyframes farbverlaufAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 80% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    color: var(--bg-color) !important;
}

#root {
    height: 100%;
}